main {
    font-family: sans-serif;
    font-size: 20px;
}

li {
    margin: 10px;
}
@media screen and (min-width: 450px) {
    body {
      background-color: rgb(243, 227, 10);    
  
    color: rgb(240, 13, 228);
   
}}
body.uppercase {
    text-transform: capitalize;
  }
 